dj-database-url==0.4.1
django-cors-headers==2.2.0
Django==2.0.3
docutils==0.13.1
pathlib2==2.2.0
prompt-toolkit==1.0.9
psutil==5.0.1
psycopg2==2.6.2
py==1.4.32
requests==2.12.4
rope-py3k==0.9.4.post1
service-identity==16.0.0
simplegeneric==0.8.1
simplekv==0.10.0
singledispatch==3.4.0.3
six==1.10.0
sockjs-tornado==1.0.3
statsmodels==0.6.1
sympy==1.0
tables==3.2.2
toolz==0.8.2
traitlets==4.3.1
unicodecsv==0.14.1
virtualenv==15.1.0
w3lib==1.17.0
wcwidth==0.1.7
whitenoise==2.0.6
