

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.About-description{
    background-color: white;
    text-align: center;
    height: 80px;
    padding: 30px 200px 80px 200px;
    color: black;
    width: 100%;
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;
}

.About-header{
    background-color: white;
    text-align: center;
    height: 5px;
    padding: 5px 20px;
    color: black;
    width: 100%;
    margin: 50px 0;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Events-panel {
}

.Events-list {
  list-style-type: none;
  margin: 1em;

}

.Events-event {
  margin: .8em;
  padding: .7em 1em 1em 1em;
  background: #f1f1f1;
  text-align: left;
}

.Events-event h2 {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0;
  margin: 0 ;
}

.Events-event p {
    font-size: .8em;
}

.MyProfile {
  background-color: #f1f1f1;
  margin-top: 2em;
}

.MyProfile-settings {
  list-style: none;
  font-size: 0.8em;
  margin: 1em 0em;
  padding: 0;
}