
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.About h2{
    background-color: white;
    text-align: center;
    color: black;
    margin: 1em 0;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

.About p{
    background-color: white;
    text-align: center;
    color: black;
    width: 70%;
    margin: 3em auto;
    font-family: 'Roboto', sans-serif;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Events-panel {
  width: 100%;
}

.Events-addEvent {
  padding: 1em;
  background-color: #f1f1f1;
  margin-top: 1em;
  width: 100%;
  border-radius: 5px;
  text-align: left;
}


.Events-inputBig{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
}

.Events-inputSmall{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.Events-filter{
  background-color: #f1f1f1;
  text-align: left;
  height: 400px;
  width: 100%;
  margin: 1em;
  padding-left: 1em;
  border-color: #f1f1f1;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
}

.Events-filter p {
  text-align: left;
  font-size: 0.8em;
  margin: 1em 1em;
}

.Events-filter h2 {
  font-size: 1.2em;
  padding: 1em;
  text-align: center;
}

.Events-list {
  list-style-type: none;
  padding: 0;
  margin: auto;
}

.Events-event {
  margin: 1em 0;
  width: 100%;
  background: white;
  text-align: left;
  box-shadow: 0px 2px 3px #c4c4c4;
  border-radius: 5px;
}

.Events-descriptionBox {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding: 1em 0em;
  width: auto;

}

.Events-event h2 {
  color: #322806;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0;
  margin: 0 ;
}

.event-header {
  background-color: #AEB4B7;
  margin: 0;
  padding: .5em;
  width: 100%;
  border-bottom: 1px solid #888;
}

.join-button {
  margin: .5em;
  border: 0;
  background: #213f60;
}

.Events .btn {
  width: 6em;
}

.event-header h2 {
  color: black;
  padding: 0;
  margin: 0;
  height: 1em;
}

.event-header p{
  padding: 0;
  margin: 0;
  height: 1em;
  font-size: .6em;
  color: #333;
}

.Events-event p {
    font-size: .8em;
    height: 1em;
    margin: .5em;
    padding: 0;
}

.Events-AddEvent {
  margin: 1em ;
  padding: 1em;
  background: white;
  text-align: left;
  box-shadow: 0px 2px 3px #c4c4c4;
  border-radius: 5px;
  width: 100%;
}

.Home p {
    font-size: .8em;
    background: #f1f1f1;
    margin: 18em auto;
    width: 60%;

    font-family: 'Roboto', sans-serif;
}

.Home h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 8em 0 1em 0;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

.Home b {
  font-size: .8em;
  background: #f1f1f1;
  font-weight: bold;
  margin: 3em 0em 8em 0;
  width: 60%;
  font-family: 'Roboto', sans-serif;
}

.Home-buttons {
  width: auto;
  list-style: none;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.push {
    margin-left: 3em;
}

.homeButton {
  width: 438px;
  height: 100px;
  margin: auto;
}

.MyProfile {
  background-color: #f1f1f1;
  margin-top: 1em;
  padding: 1em;
}

.MyProfile h2 {
  font-size: 1.4em;
  font-weight: bold;
}

.MyProfile h3 {
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.MyProfile-settings {
  font-size: 0.8em;
  padding:0em;
  margin: 0em;
  background: #333;
}

.MyProfile-panel {
  text-align: left;
  padding: 1em 2.5em;
}

.active-settings {
  color: black;
  background-color: #ccc;
  height: 100%;
  margin: 0;
  left: 1em;
}

.settings {
  background-color: #999;
  height: 100%;
  margin: .1em;
  height: 3em;
  color: black;
  text-decoration: none
}

.MyProfile-settings ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* For mobile */
@media screen and (max-width: 540px) {
    .About p {
        width: 100%;
    }
}
