

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.About h2{
    background-color: white;
    text-align: center;
    color: black;
    margin: 1em 0;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

.About p{
    background-color: white;
    text-align: center;
    color: black;
    width: 70%;
    margin: 3em auto;
    font-family: 'Roboto', sans-serif;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Events-panel {
}

.Events-list {
  list-style-type: none;
  margin: 1em;

}

.Events-event {
  margin: .8em;
  padding: .7em 1em 1em 1em;
  background: #f1f1f1;
  text-align: left;
}

.Events-event h2 {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0;
  margin: 0 ;
}

.Events-event p {
    font-size: .8em;
}

.Home p {
    font-size: .8em;
    background: #f1f1f1;
    margin: 18em auto;
    width: 60%;

    font-family: 'Roboto', sans-serif;
}

.Home h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 8em 0 1em 0;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

.Home b {
  font-size: .8em;
  background: #f1f1f1;
  font-weight: bold;
  margin: 3em 0em 8em 0;
  width: 60%;
  font-family: 'Roboto', sans-serif;
}

.Home-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
  align-self: center;
  width: auto;
  padding: 0em 18em 0em 18em;
  list-style: none;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.push {
    margin-left: 3em;
}

.Home-buttons div {
  width: 100px;
  height: 100px;
}

.MyProfile {
  background-color: #f1f1f1;
  margin-top: 2em;
}

.MyProfile-settings {
  list-style: none;
  font-size: 0.8em;
  margin: 1em 0em;
  padding: 0;
}

/* For mobile */
@media screen and (max-width: 540px) {
    .About p {
        width: 100%;
    }
}
